<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyEasy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeyEasy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10C919441D128E30004E1A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C9195D1D12912D004E1A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C9196D1D1291A7004E1A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C9197C1D129449004E1A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C919921D12945C004E1A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
